:root {
    --bg: #e7ecef;
    --clairPrimaire: #a3cef1;
    --foncePrimaire: #274c77;
    --clairSecondaire: #6096ba;
    --tresClair: #d9e7f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 0 0 var(--foncePrimaire);
}

li {
    list-style: none;
}

a {
    color: var(--clairSecondaire);
    text-decoration: none;
    font-size: 1.3rem;
}

button {
    background: none;
    border: none;
}

.hide {
    display: none;
}

body {
    background: var(--tresClair);
    display: flex;
    flex-flow: column wrap;
    font-size: 1.2rem;
    color: var(--clairPrimaire);
}

.menu button {
    width: 100%;
    font-size: 2rem;
    text-align: right;
    padding: 20px;
    color: var(--foncePrimaire);
}

#options {
    right: 0;
    width: 200px;
    height: 100%;
    text-align: center;
    line-height: 2rem;
    position: absolute;
    background: #ecf9ff;
}

.tete {
    display: flex;
    align-items: center;
    margin: 10px;
}

.tete img {
    height: 200px;
    width: 200px;
    border-radius: 150px;
    object-fit: cover;
}

.titre {
    margin: 20px;
    color: var(--clairSecondaire);
}

.titre span {
    color: var(--foncePrimaire);
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h3 {
    font-size: 1.7rem;
    margin: 5px 10% 2%;
    color: var(--clairPrimaire);
}

.competences ul {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    width: 40vw;
    text-align: center;
    margin: 10px;
    /* font-weight: bold;  */
}

.competences li {
    background: rgba(255, 255, 255, 0.171);
    margin: 10px 5px;
    padding: 10px;
    border: 2px solid var(--bg);
    color: var(--foncePrimaire);
    border-radius: 150px;
    min-width: 100px;
    width: 30%;
    text-align: center;
}

main .separator {
    height: 40vh;
    width: 1px;
    background: beige;
    margin: 5px;
}

.parcours {
    margin: 10px;
    width: 40vw;
}

.parcours ul {
    line-height: 1.7rem;
    margin-top: 20px;
}

.temps {
    color: var(--clairPrimaire);
}

.parcours ul li:not(.temps) {
    color: var(--foncePrimaire);
}